tzsb/src/main/webapp/WEB-INF/wsdl/hello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.apps.lejingw.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWsService"
	targetNamespace="http://ws.apps.lejingw.com">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.apps.lejingw.com">
    	<xsd:include schemaLocation="hello.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  
  <wsdl:message name="sayHello">
    <wsdl:part name="parameters" element="tns:sayHello"/>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part name="parameters" element="tns:sayHelloResponse"/>
  </wsdl:message>
  <wsdl:message name="getPager">
  	<wsdl:part name="parameters" element="tns:getPager"/>
  </wsdl:message>
  <wsdl:message name="getPagerResponse">
    <wsdl:part name="parameters" element="tns:getPagerResponse"/>
  </wsdl:message>
  <wsdl:message name="getPagerStr">
  	<wsdl:part name="parameters" element="tns:getPagerStr"/>
  </wsdl:message>
  <wsdl:message name="getPagerStrResponse">
  	<wsdl:part name="parameters" element="tns:getPagerStrResponse"/>
  </wsdl:message>
  
  
  <wsdl:portType name="IHelloWsService">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello"/>
      <wsdl:output message="tns:sayHelloResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPager">
      <wsdl:input message="tns:getPager"/>
      <wsdl:output message="tns:getPagerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPagerStr">
      <wsdl:input message="tns:getPagerStr"/>
      <wsdl:output message="tns:getPagerStrResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="helloWsSOAP" type="tns:IHelloWsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHello">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPager">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPagerStr">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWsService">
    <wsdl:port binding="tns:helloWsSOAP" name="HelloWsServicePort">
      <soap:address location="http://localhost:8888/ss"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
