tzsb/src/main/resources/wsdl/ws2/hello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws2.apps.lejingw.com" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloService"
	targetNamespace="http://ws2.apps.lejingw.com">
	<!-- 使用web container -->
	<wsdl:types>
	<!-- 
		<xsd:schema targetNamespace="http://ws2.apps.lejingw.com">
			<xsd:include schemaLocation="hello.xsd"></xsd:include>
		</xsd:schema>
	 -->
	 	<xsd:schema>
			<xsd:import namespace="http://ws2.apps.lejingw.com" schemaLocation="hello.xsd"/>
	 	</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sayHello">
		<wsdl:part element="tns:sayHello" name="parameters" />
	</wsdl:message>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part element="tns:sayHelloResponse" name="parameters" />
	</wsdl:message>
	
	
	<wsdl:message name="getPager">
		<wsdl:part element="tns:getPager" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getPagerResponse">
		<wsdl:part element="tns:getPagerResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="getPagerStr">
		<wsdl:part element="tns:getPagerStr" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getPagerStrResponse">
		<wsdl:part element="tns:getPagerStrResponse" name="parameters" />
	</wsdl:message>
	
	
	<wsdl:portType name="IHelloService">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:sayHello" />
			<wsdl:output message="tns:sayHelloResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="getPager">
			<wsdl:input message="tns:getPager" />
			<wsdl:output message="tns:getPagerResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="getPagerStr">
			<wsdl:input message="tns:getPagerStr" />
			<wsdl:output message="tns:getPagerStrResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	
	<wsdl:binding name="HelloServicePortBinding" type="tns:IHelloService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getPager">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getPagerStr">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="HelloService">
		<wsdl:port name="HelloServicePort" binding="tns:HelloServicePortBinding">
			<soap:address location="http://localhost:8888/ss" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
