tzsb/src/main/webapp/WEB-INF/wsdl2/Hello2WsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://ws2.apps.lejingw.com" name="Hello2WsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws2.apps.lejingw.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws2.apps.lejingw.com" schemaLocation="Hello2WsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <!-- test2 -->
  <message name="sayHello">
    <part name="parameters" element="tns:sayHello"/>
  </message>
  <message name="sayHelloResponse">
    <part name="parameters" element="tns:sayHelloResponse"/>
  </message>
  <message name="getPager">
    <part name="parameters" element="tns:getPager"/>
  </message>
  <message name="getPagerResponse">
    <part name="parameters" element="tns:getPagerResponse"/>
  </message>
  <message name="getPagerList">
    <part name="parameters" element="tns:getPagerList"/>
  </message>
  <message name="getPagerListResponse">
    <part name="parameters" element="tns:getPagerListResponse"/>
  </message>
  <portType name="Hello2WsService">
    <operation name="sayHello">
      <input message="tns:sayHello"/>
      <output message="tns:sayHelloResponse"/>
    </operation>
    <operation name="getPager">
      <input message="tns:getPager"/>
      <output message="tns:getPagerResponse"/>
    </operation>
    <operation name="getPagerList">
      <input message="tns:getPagerList"/>
      <output message="tns:getPagerListResponse"/>
    </operation>
  </portType>
  <binding name="Hello2WsServicePortBinding" type="tns:Hello2WsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPager">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPagerList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Hello2WsService">
    <port name="Hello2WsServicePort" binding="tns:Hello2WsServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

