tzsb/src/main/resources/wsdl/ws1/HelloServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions
	targetNamespace="http://ws1.apps.lejingw.com/"
	name="HelloServiceService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://ws1.apps.lejingw.com/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws1.apps.lejingw.com/" schemaLocation="HelloServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sayHello">
    <part name="parameters" element="tns:sayHello"/>
  </message>
  <message name="sayHelloResponse">
    <part name="parameters" element="tns:sayHelloResponse"/>
  </message>
  <message name="getPager">
    <part name="parameters" element="tns:getPager"/>
  </message>
  <message name="getPagerResponse">
    <part name="parameters" element="tns:getPagerResponse"/>
  </message>
  <message name="getPagerStr">
    <part name="parameters" element="tns:getPagerStr"/>
  </message>
  <message name="getPagerStrResponse">
    <part name="parameters" element="tns:getPagerStrResponse"/>
  </message>
  
  
  <portType name="HelloService">
    <operation name="sayHello">
      <input message="tns:sayHello"/>
      <output message="tns:sayHelloResponse"/>
    </operation>
    <operation name="getPager">
      <input message="tns:getPager"/>
      <output message="tns:getPagerResponse"/>
    </operation>
    <operation name="getPagerStr">
      <input message="tns:getPagerStr"/>
      <output message="tns:getPagerStrResponse"/>
    </operation>
  </portType>
  
  
  <binding name="HelloServicePortBinding" type="tns:HelloService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPager">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPagerStr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  
  <service name="HelloServiceService">
    <port name="HelloServicePort" binding="tns:HelloServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

