tzsb副本/src/main/webapp/WEB-INF/wsdl31/hello3.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws3.apps.lejingw.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Hello3WsService"
	targetNamespace="http://ws3.apps.lejingw.com">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws3.apps.lejingw.com">
    	<xsd:include schemaLocation="hello3.xsd"/>
    	<xsd:element name="licenseInfo" type="xsd:string"/>
    	<xsd:element name="Hello3WsException" type="tns:Hello3WsException"/>
    	<xsd:complexType name="Hello3WsException">
    		<xsd:sequence>
    			<xsd:element name="message" type="xsd:string"/>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="Hello3WsException">
  	<wsdl:part name="fault" element="tns:Hello3WsException"/>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part name="parameters" element="tns:sayHello"/>
  </wsdl:message>
  <wsdl:message name="licenseInfo">
  	<wsdl:part name="licenseInfo" element="tns:licenseInfo"/>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part name="parameters" element="tns:sayHelloResponse"/>
  </wsdl:message>
  <wsdl:message name="getPagerList">
  	<wsdl:part name="parameters" element="tns:getPagerList"/>
  </wsdl:message>
  <wsdl:message name="getPagerListResponse">
    <wsdl:part name="parameters" element="tns:getPagerListResponse"/>
  </wsdl:message>
  <wsdl:message name="getPagerStr">
  	<wsdl:part name="parameters" element="tns:getPagerStr"/>
  </wsdl:message>
  <wsdl:message name="getPagerStrResponse">
  	<wsdl:part name="parameters" element="tns:getPagerStrResponse"/>
  </wsdl:message>
  
  
  <wsdl:portType name="IHello3WsService">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello"/>
      <wsdl:output message="tns:sayHelloResponse"/>
      <wsdl:fault name="Hello3WsException" message="tns:Hello3WsException"/>
    </wsdl:operation>
    <wsdl:operation name="getPagerList">
      <wsdl:input message="tns:getPagerList"/>
      <wsdl:output message="tns:getPagerListResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPagerStr">
      <wsdl:input message="tns:getPagerStr"/>
      <wsdl:output message="tns:getPagerStrResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="hello3WsSOAP" type="tns:IHello3WsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHello">
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header use="literal" part="licenseInfo" message="tns:licenseInfo"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Hello3WsException">
      	<soap:fault name="Hello3WsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPagerList">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPagerStr">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hello3WsService">
    <wsdl:port binding="tns:hello3WsSOAP" name="Hello3WsServicePort">
      <soap:address location="http://localhost:8888/ss"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
